<div class="container main">
  <h1 class="text-center mt-2 mb-2">{{t 'users.update.title'}}</h1>
  {{#each messages}}
    <div class="alert">
      <p>{{t this}}</p>
    </div>
  {{/each}}
  <div class="grid center">
    <div class="col md-8 lg-6">
      <form action="{{url (concat '/admin/users/update/' user.id)}}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrf }}">
        {{#with user}}
          <label for="name">
            {{t 'users.name'}}
            <input type="text" name="name" id="name" value="{{name}}">
          </label>
          <label for="username">
            {{t 'users.username'}}
            <input type="text" name="username" id="username" value="{{username}}">
          </label>
          <label for="password">
            {{t 'users.password'}}
            <input type="password" name="password" id="password">
          </label>
        {{/with}}
        <input type="submit" class="btn primary center w-75" value="{{t 'users.update.update'}}">
      </form>
    </div>
  </div>
</div>
